/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 2, 2016, 4:45:20 PM
    Author     : Tome
*/
.login-panel{
    padding:  10px 10px 10px 10px;
}
.width300px{
    max-width: 300px;
}
.row-mbotom-5{
    margin-bottom: 5px;
}
.panel-todo{
    width: 200px;
    border: 2px solid rgba(27, 10, 10, 0.62);
    padding: 5px 5px 5px 10px;   
    float: left;
    margin-left: 5px;
}

.sort-icon-down-align{
    margin-left: -18px;
    vertical-align: bottom;
}
.sort-icon-up-align{
    vertical-align: super;
}
